vendor/
composer.lock
package-lock.json
.idea/
coverage.xml
src/Boxtal/BoxtalConnectWoocommerce/assets/css
src/Boxtal/BoxtalConnectWoocommerce/assets/js/*.min.js
src/Boxtal/BoxtalConnectWoocommerce/translation/*.mo
node_modules/
