<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory prefix="test-" suffix=".php">test/unit-tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
    </logging>
</phpunit>